body {
    font-family: sans-serif;
    background-color: #ecebdf;
}

h1 {
    text-align: center;
    
}

h2 {
    text-align: center;
    font-size: 25px;

}

.wall {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.middle {
    width: 700px;
    height: 600px;
    border: 2px solid rgb(0, 0, 0);
    margin: 35px 30px;
    display: inline-block
}

.leftright {
    width: 250px;
    height: 600px;
    border: 2px solid rgb(0, 0, 0);
    margin: 35px 27px;
    display: inline-block
}
